body {
      padding-top: 50px;
      padding-bottom: 0px;
      background-image: url("images/terran-marines-on-the-attack.jpg");
      background-size:contain;
      background-position: top left;
      background-attachment:local;
      text-align: left;
}


.container-fluid {
      margin: 0, 0, 0, 0;
}

.transparent {
   background: rgba(0,0,0,0.4 );
}

.img-fluid {
      width: 100%;
}

footer {
      padding-bottom:10px;
}
